/*Fuentes*/
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

*{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos iniciales*/
body{
    margin: 0px;
    background-color: #BBB;
    color: #444;
}

h1{
    font-size: 1.3em;
    text-align: center;
    color: #464d52;
}

/*Parte superior*/
#superior{
    width: 100%px;
    padding: 30px 0px;
    background-color: #464d52;
}

#encabezado{
    margin: 0px auto;
    width: 960px;
}

#descripcion{
    margin: 0px auto;
    width: 960px;
}

#descripcion{
    width: 360px;
    height: 360px;
    background-color: #888;
    float: left;
}

#descripcion p{
    margin: 20px;
    color: white;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

#imgDesc{
    overflow: hidden;
}

#imgDesc img{
    float: left;    
}

/*Contenido principal de las paginas*/
#contenido{
    width: 960px;
    margin: 0px auto;
    clear: left;
}

/*Pie de la pagina*/
footer{
    text-align: center;
    margin: 0;
    font-size: .9em;
    line-height: 2;
    clear: both;
    background-color: #464d52;
    color: white;
    width: 100%;
}

/*Contenido de la pagina index*/

.plan{
    width: 258px;
    padding: 20px;
    background-color: white;
    margin: 30px 15px;
    border: solid 1px black;
    float: left;
    text-align: justify;
}

/*Primer div, cuarto div,...*/
#contenido div:nth-child(3n+1){
    margin-left: 0px;
}

/*Tercer div, sexto div,...*/
#contenido div:nth-child(3n){
    margin-right: 0px;
}

.boton{
    background-color: #464d52;
    padding: 7px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 1s;
}

.boton:hover{
    background: #5077c7;
}

.boton a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
}

/*Contenido pagina planes*/

.planes{
    width: 900px;
    background: white;
    padding: 10px 30px;
}

.planes h1{
    text-align: left;
    font-size: 1.5em;
}

.planes .precio{
    font-size: 1.1em;
    margin: 20px 0px 5px;
    padding-bottom: 15px;
    border-bottom: solid 2px grey;
    font-weight: bold;
}

/*Contenido pagina galeria*/
#galeria .plan p{
    text-align: center;
    font-style: italic;
}

#galeria .plan{
    font-size: 1em;
    margin-bottom: 10px;
    padding-bottom: 1px;
}